.super-mario {
  width:500px;
  position: absolute;
  top: 60px;
  z-index: 2;
  margin-left: 50px;
}

.goomba {
  width:500px;
  position: absolute;
  top: 750px;
  z-index: 1;
  margin-left: 200px;
}

.word{
  position: absolute;
  z-index: 5;
  top: 150px;
  float:none;
  font-size: 20px;
  margin-left: 800px;
}

.baloon {
  position: absolute;
  z-index: 4;
  top: 100px;
  margin-left: 750px;
}

.bowser {
  position: absolute;
  top:150px;
  z-index: 3;
  margin-left: 900px
}